
body {
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
  }
  /* Main Projects Container */
  .projects-container {
    margin-left: 250px; /* Adjust to fit sidebar */
    padding: 30px;
  }
  
  .title-projects {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: bold;
  }